meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title
    block site_title
        = config.title
block description
    meta(name="description", content= config.description ? config.description : 'EmpatiLab Blog And Meteor Blog')

meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="short icon", href=url_for(theme.favicon))
link(rel="stylesheet", href=url_for("css/apollo.css"))
script(type='text/javascript' src='//http-empatilab-com.disqus.com/count.js' async)
- var xml = config.url + '/atom.xml'
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)
